* {box-sizing: border-box;}

:root {
  /* Typography */
  --title-font: arial, sans-serif;
  --genreal-font: arial, sans-serif;
  /* Colors */
  --black: #333;
  --blue: blue;
  --red: red;
  --green: green;
}






